# $Id: tru.ucf,v 1.1 2008-10-14 22:11:15 jschamba Exp $
NET "ADC_CLK40M_P"	LOC = "G21" |IOSTANDARD = LVPECL_25;
NET "ADC_CLK40M_N"	LOC = "G22" |IOSTANDARD = LVPECL_25;

# Start of Constraints extracted by Floorplanner from the Design
NET "X2A_CLK" LOC = "AE18" ;
NET "TST_AUX9" LOC = "D27" ;
NET "TST_AUX8" LOC = "C28" ;
NET "TST_AUX7" LOC = "A28" ;
NET "TST_AUX6" LOC = "A29" ;
NET "TST_AUX5" LOC = "D29" ;
NET "TST_AUX4" LOC = "C30" ;
NET "TST_AUX3" LOC = "A30" ;
NET "TST_AUX2" LOC = "B30" ;
NET "TST_AUX1" LOC = "A31" ;
NET "TST_AUX0" LOC = "B31" ;
NET "TRU_INTERRUPT_n" LOC = "E26" ;
NET "SNS_SDA" LOC = "F26" ;
NET "SNS_SCL" LOC = "G26" ;
NET "SNS_OTI<1>" LOC = "F28" ;
NET "SNS_OTI<0>" LOC = "F25" ;
NET "SNS_CONV_n" LOC = "G25" ;
NET "RCU_SDA_OUT" LOC = "R31" ;
NET "RCU_SDA_IN" LOC = "U25" ;
NET "RCU_SCL" LOC = "N30" ;
NET "LED_SYS_OK" LOC = "AG6" ;
NET "LED_SYS_ERR" LOC = "AF6" ;
NET "LED_PWR_ERR" LOC = "AG5" ;
NET "LED_L1" LOC = "AH4" ;
NET "LED_L0" LOC = "AJ4" ;
NET "LED_LVDS_RXTX" LOC = "AH5" ; # signal: LED_LVDS_TX
NET "LED_RCU_RXTX" LOC = "AK4" ; # signal: LED_LVDS_RX
NET "LED_AUX2" LOC = "AJ5" ; # signal: LED_AUX3
NET "LED_AUX1" LOC = "AE4" ; # signal: LED_AUX2
NET "LED_BUSY" LOC = "AF4" ; # signal: LED_AUX1
NET "LDO_3V3_DIG" LOC = "W5" ;
NET "LDO_3V3_ADC" LOC = "Y8" ;
NET "LDO_2V5_DIG" LOC = "V5" ;
NET "LDO_2V5_ADC" LOC = "Y6" ;
NET "LDO_ADC_EN" LOC = "W4" ;
NET "GTL_OEBA_L" LOC = "M28" ; #GTL_CTRL[3]
NET "GTL_OEBA_H" LOC = "J24" ; #GTL_CTRL[1]
NET "GTL_OEAB_L" LOC = "P29" ; #GTL_CTRL[2]
NET "GTL_OEAB_H" LOC = "K29" ; #GTL_CTRL[0]
NET "GTL_CTRL_OUT" LOC = "T25" ;
NET "GTL_CTRL_IN" LOC = "T24" ;
NET "EXT_LVDS_IO_P<7>" LOC = "B15" ;
NET "EXT_LVDS_IO_P<6>" LOC = "B13" ;
NET "EXT_LVDS_IO_P<5>" LOC = "B12" ;
NET "EXT_LVDS_IO_P<4>" LOC = "A11" ;
NET "EXT_LVDS_IO_P<3>" LOC = "A10" ;
NET "EXT_LVDS_IO_P<2>" LOC = "B8" ;
NET "EXT_LVDS_IO_P<1>" LOC = "B6" ;
NET "EXT_LVDS_IO_P<0>" LOC = "B5" ;
NET "EXT_LVDS_IO_N<7>" LOC = "C15" ;
NET "EXT_LVDS_IO_N<6>" LOC = "A13" ;
NET "EXT_LVDS_IO_N<5>" LOC = "C12" ;
NET "EXT_LVDS_IO_N<4>" LOC = "B11" ;
NET "EXT_LVDS_IO_N<3>" LOC = "A9" ;
NET "EXT_LVDS_IO_N<2>" LOC = "A8" ;
NET "EXT_LVDS_IO_N<1>" LOC = "B7" ;
NET "EXT_LVDS_IO_N<0>" LOC = "A4" ;
NET "BRD_40M" LOC = "AG15" ;
NET "BRD_RESET_n" LOC = "H12" ;
NET "BRD_CLK125M_P" LOC = "H19" ;
NET "BRD_CLK125M_N" LOC = "H20" ;
NET "ALT_WRITE" LOC = "T30" ;
NET "ALT_TRSF_EN" LOC = "E27" ;
NET "ALT_TRSF" LOC = "R27" ;
NET "ALT_SCLK_P" LOC = "Y28" ;
NET "ALT_SCLK_N" LOC = "Y29" ;
NET "ALT_RST_TBC" LOC = "T31" ;
NET "ALT_RDOCLK" LOC = "P31" ;
NET "ALT_L2" LOC = "T28" ;
NET "ALT_L1" LOC = "T26" ;
NET "ALT_ERROR" LOC = "P30" ;
NET "ALT_DSTB" LOC = "R26" ;
NET "ALT_DOLO_EN" LOC = "E29" ;
NET "ALT_CSTB" LOC = "T29" ;
NET "ALT_CARDADD<4>" LOC = "E31" ;
NET "ALT_CARDADD<3>" LOC = "U26" ;
NET "ALT_CARDADD<2>" LOC = "U28" ;
NET "ALT_CARDADD<1>" LOC = "U27" ;
NET "ALT_CARDADD<0>" LOC = "U30" ;
NET "ALT_BD<39>" LOC = "G27" ;
NET "ALT_BD<38>" LOC = "G28" ;
NET "ALT_BD<37>" LOC = "G30" ;
NET "ALT_BD<36>" LOC = "G31" ;
NET "ALT_BD<35>" LOC = "H24" ;
NET "ALT_BD<34>" LOC = "H25" ;
NET "ALT_BD<33>" LOC = "H27" ;
NET "ALT_BD<32>" LOC = "H28" ;
NET "ALT_BD<31>" LOC = "H29" ;
NET "ALT_BD<30>" LOC = "H30" ;
NET "ALT_BD<29>" LOC = "J25" ;
NET "ALT_BD<28>" LOC = "J26" ;
NET "ALT_BD<27>" LOC = "J27" ;
NET "ALT_BD<26>" LOC = "J29" ;
NET "ALT_BD<25>" LOC = "J30" ;
NET "ALT_BD<24>" LOC = "J31" ;
NET "ALT_BD<23>" LOC = "K24" ;
NET "ALT_BD<22>" LOC = "K26" ;
NET "ALT_BD<21>" LOC = "K27" ;
NET "ALT_BD<20>" LOC = "K28" ;
NET "ALT_BD<19>" LOC = "K31" ;
NET "ALT_BD<18>" LOC = "L24" ;
NET "ALT_BD<17>" LOC = "L25" ;
NET "ALT_BD<16>" LOC = "L26" ;
NET "ALT_BD<15>" LOC = "L28" ;
NET "ALT_BD<14>" LOC = "L29" ;
NET "ALT_BD<13>" LOC = "L30" ;
NET "ALT_BD<12>" LOC = "L31" ;
NET "ALT_BD<11>" LOC = "M25" ;
NET "ALT_BD<10>" LOC = "M26" ;
NET "ALT_BD<9>" LOC = "M30" ;
NET "ALT_BD<8>" LOC = "M31" ;
NET "ALT_BD<7>" LOC = "N24" ;
NET "ALT_BD<6>" LOC = "N25" ;
NET "ALT_BD<5>" LOC = "N28" ;
NET "ALT_BD<4>" LOC = "N29" ;
NET "ALT_BD<3>" LOC = "P24" ;
NET "ALT_BD<2>" LOC = "P25" ;
NET "ALT_BD<1>" LOC = "P26" ;
NET "ALT_BD<0>" LOC = "P27" ;
NET "ALT_ACKN_EN" LOC = "E28" ;
NET "ALT_ACKN" LOC = "R24" ;
NET "ADC_SCLK" LOC = "F5" ;
NET "ADC_RESET_n" LOC = "G5" ;
NET "ADC_QUAD_P<111>" LOC = "N33"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<110>" LOC = "C32"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<109>" LOC = "E32"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<108>" LOC = "G32"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<107>" LOC = "L33"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<106>" LOC = "P32"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<105>" LOC = "R33"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<104>" LOC = "U31"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<103>" LOC = "V33"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<102>" LOC = "Y32"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<101>" LOC = "AC33"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<100>" LOC = "AC32"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<99>" LOC = "AG33"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<98>" LOC = "AJ32"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<97>" LOC = "AM33"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<96>" LOC = "AN32"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<95>" LOC = "AM31"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<94>" LOC = "AN30"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<93>" LOC = "AP30"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<92>" LOC = "AM27"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<91>" LOC = "AN24"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<90>" LOC = "AN22"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<89>" LOC = "AN20"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<88>" LOC = "AM18"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<87>" LOC = "AH24"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<86>" LOC = "AJ22"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<85>" LOC = "AJ20"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<84>" LOC = "AG18"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<83>" LOC = "AL15"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<82>" LOC = "AJ14"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<81>" LOC = "AH14"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<80>" LOC = "AJ11"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<79>" LOC = "AN9"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<78>" LOC = "AN7"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<77>" LOC = "AP5"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<76>" LOC = "AM12"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<75>" LOC = "AN17"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<74>" LOC = "AM8"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<73>" LOC = "AP14"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<72>" LOC = "AL5"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<71>" LOC = "AN2"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<70>" LOC = "AL1"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<69>" LOC = "AJ1"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<68>" LOC = "AH2"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<67>" LOC = "AG3"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<66>" LOC = "AC3"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<65>" LOC = "AB3"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<64>" LOC = "Y3"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<63>" LOC = "U1"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<62>" LOC = "U3"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<61>" LOC = "P2"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<60>" LOC = "P1"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<59>" LOC = "N2"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<58>" LOC = "M3"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<57>" LOC = "G3"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<56>" LOC = "F1"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<55>" LOC = "A3"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<54>" LOC = "E3"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<53>" LOC = "C3"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<52>" LOC = "C2"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<51>" LOC = "D2"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<50>" LOC = "E2"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<49>" LOC = "M1"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<48>" LOC = "T1"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<47>" LOC = "V4"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<46>" LOC = "AC2"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<45>" LOC = "AK2"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<44>" LOC = "AM2"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<43>" LOC = "W1"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<42>" LOC = "W2"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<41>" LOC = "AB1"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<40>" LOC = "AM3"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<39>" LOC = "AP15"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<38>" LOC = "AN5"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<37>" LOC = "AM5"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<36>" LOC = "AL8"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<35>" LOC = "AP11"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<34>" LOC = "AN13"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<33>" LOC = "AM15"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<32>" LOC = "AP16"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<31>" LOC = "AK11"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<30>" LOC = "AK13"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<29>" LOC = "AL13"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<28>" LOC = "AK14"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<27>" LOC = "AK17"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<26>" LOC = "AL18"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<25>" LOC = "AL20"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<24>" LOC = "AH22"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<23>" LOC = "AN19"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<22>" LOC = "AP22"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<21>" LOC = "AM21"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<20>" LOC = "AN23"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<19>" LOC = "AP27"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<18>" LOC = "AN28"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<17>" LOC = "AL29"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<16>" LOC = "AP29"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<15>" LOC = "AN34"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<14>" LOC = "AL34"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<13>" LOC = "AG32"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<12>" LOC = "AA33"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<11>" LOC = "AK34"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<10>" LOC = "AC34"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<9>" LOC = "AA34"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<8>" LOC = "W34"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<7>" LOC = "U33"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<6>" LOC = "T33"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<5>" LOC = "P34"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<4>" LOC = "G33"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<3>" LOC = "F33"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<2>" LOC = "C34"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<1>" LOC = "B33"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_P<0>" LOC = "B32" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<111>" LOC = "M33"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<110>" LOC = "D32"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<109>" LOC = "E33"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<108>" LOC = "H32"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<107>" LOC = "M32"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<106>" LOC = "N32"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<105>" LOC = "R32"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<104>" LOC = "U32"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<103>" LOC = "V32"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<102>" LOC = "W32"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<101>" LOC = "AB33"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<100>" LOC = "AB32"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<99>" LOC = "AH33"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<98>" LOC = "AK32"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<97>" LOC = "AM32"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<96>" LOC = "AP32"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<95>" LOC = "AL31"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<94>" LOC = "AM30"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<93>" LOC = "AP31"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<92>" LOC = "AL28"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<91>" LOC = "AP24"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<90>" LOC = "AM22"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<89>" LOC = "AP20"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<88>" LOC = "AN18"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<87>" LOC = "AJ24"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<86>" LOC = "AJ21"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<85>" LOC = "AK21"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<84>" LOC = "AH18"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<83>" LOC = "AL16"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<82>" LOC = "AH15"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<81>" LOC = "AH13"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<80>" LOC = "AJ12"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<79>" LOC = "AN8"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<78>" LOC = "AM6"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<77>" LOC = "AP4"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<76>" LOC = "AN12"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<75>" LOC = "AM17"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<74>" LOC = "AM7"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<73>" LOC = "AN14"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<72>" LOC = "AL6"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<71>" LOC = "AP2"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<70>" LOC = "AM1"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<69>" LOC = "AK1"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<68>" LOC = "AJ2"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<67>" LOC = "AH3"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<66>" LOC = "AB2"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<65>" LOC = "AA3"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<64>" LOC = "Y2"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<63>" LOC = "U2"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<62>" LOC = "T3"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<61>" LOC = "R3"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<60>" LOC = "R2"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<59>" LOC = "M2"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<58>" LOC = "N3"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<57>" LOC = "G2"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<56>" LOC = "G1"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<55>" LOC = "B3"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<54>" LOC = "F3"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<53>" LOC = "B2"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<52>" LOC = "B1"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<51>" LOC = "D1"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<50>" LOC = "E1"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<49>" LOC = "L1"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<48>" LOC = "R1"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<47>" LOC = "V3"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<46>" LOC = "AD1"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<45>" LOC = "AK3"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<44>" LOC = "AL3"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<43>" LOC = "V2"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<42>" LOC = "Y1"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<41>" LOC = "AA1"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<40>" LOC = "AN3"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<39>" LOC = "AN15"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<38>" LOC = "AN4"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<37>" LOC = "AL4"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<36>" LOC = "AL9"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<35>" LOC = "AP12"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<34>" LOC = "AM13"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<33>" LOC = "AM16"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<32>" LOC = "AP17"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<31>" LOC = "AL11"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<30>" LOC = "AK12"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<29>" LOC = "AL14"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<28>" LOC = "AJ15"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<27>" LOC = "AK18"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<26>" LOC = "AL19"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<25>" LOC = "AL21"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<24>" LOC = "AH23"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<23>" LOC = "AP19"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<22>" LOC = "AP21"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<21>" LOC = "AM20"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<20>" LOC = "AM23"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<19>" LOC = "AN27"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<18>" LOC = "AM28"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<17>" LOC = "AL30"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<16>" LOC = "AN29"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<15>" LOC = "AN33"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<14>" LOC = "AL33"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<13>" LOC = "AH32"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<12>" LOC = "Y33"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<11>" LOC = "AK33"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<10>" LOC = "AD34"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<9>" LOC = "Y34"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<8>" LOC = "V34"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<7>" LOC = "T34"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<6>" LOC = "R34"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<5>" LOC = "N34"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<4>" LOC = "F34"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<3>" LOC = "E34"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<2>" LOC = "D34"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<1>" LOC = "C33"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_QUAD_N<0>" LOC = "A33" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_PDWN" LOC = "H4" ;
NET "ADC_LCLK_P<13>" LOC = "L34"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_LCLK_P<12>" LOC = "AF34"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_LCLK_P<11>" LOC = "AN25"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_LCLK_P<10>" LOC = "AJ17"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_LCLK_P<9>" LOC = "AP10"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_LCLK_P<8>" LOC = "AF3"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_LCLK_P<7>" LOC = "K1"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_LCLK_P<6>" LOC = "J2"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_LCLK_P<5>" LOC = "AF1"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_LCLK_P<4>" LOC = "AN10"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_LCLK_P<3>" LOC = "AK22"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_LCLK_P<2>" LOC = "AP26"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_LCLK_P<1>" LOC = "AF33"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_LCLK_P<0>" LOC = "K33" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_LCLK_N<13>" LOC = "K34"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_LCLK_N<12>" LOC = "AE34"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_LCLK_N<11>" LOC = "AM25"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_LCLK_N<10>" LOC = "AK16"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_LCLK_N<9>" LOC = "AP9"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_LCLK_N<8>" LOC = "AE3"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_LCLK_N<7>" LOC = "J1"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_LCLK_N<6>" LOC = "K2"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_LCLK_N<5>" LOC = "AE1"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_LCLK_N<4>" LOC = "AM11"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_LCLK_N<3>" LOC = "AK23"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_LCLK_N<2>" LOC = "AP25"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_LCLK_N<1>" LOC = "AE33"  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_LCLK_N<0>" LOC = "K32" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ADC_INTEXT" LOC = "F4" ;
NET "ADC_SDATA" LOC = "E4" ;
NET "ADC_CS_n<13>" LOC = "J4" ;
NET "ADC_CS_n<12>" LOC = "K4" ;
NET "ADC_CS_n<11>" LOC = "AD5" ;
NET "ADC_CS_n<10>" LOC = "AF5" ;
NET "ADC_CS_n<9>" LOC = "AJ7" ;
NET "ADC_CS_n<8>" LOC = "AJ10" ;
NET "ADC_CS_n<7>" LOC = "AH10" ;
NET "ADC_CS_n<6>" LOC = "AG10" ;
NET "ADC_CS_n<5>" LOC = "AE24" ;
NET "ADC_CS_n<4>" LOC = "AD24" ;
NET "ADC_CS_n<3>" LOC = "AG25" ;
NET "ADC_CS_n<2>" LOC = "AF24" ;
NET "ADC_CS_n<1>" LOC = "AG28" ;
NET "ADC_CS_n<0>" LOC = "AH28" ;
NET "ADC_CLK_P<13>" LOC = "H34" ;
NET "ADC_CLK_P<12>" LOC = "AD32" ;
NET "ADC_CLK_P<11>" LOC = "AM26" ;
NET "ADC_CLK_P<10>" LOC = "AL23" ;
NET "ADC_CLK_P<9>" LOC = "AM10" ;
NET "ADC_CLK_P<8>" LOC = "AG1" ;
NET "ADC_CLK_P<7>" LOC = "K3" ;
NET "ADC_CLK_P<6>" LOC = "H2" ;
NET "ADC_CLK_P<5>" LOC = "AE2" ;
NET "ADC_CLK_P<4>" LOC = "AP7" ;
NET "ADC_CLK_P<3>" LOC = "AJ16" ;
NET "ADC_CLK_P<2>" LOC = "AL25" ;
NET "ADC_CLK_P<1>" LOC = "AH34" ;
NET "ADC_CLK_P<0>" LOC = "J32" ;
NET "ADC_CLK_N<13>" LOC = "J34" ;
NET "ADC_CLK_N<12>" LOC = "AE32" ;
NET "ADC_CLK_N<11>" LOC = "AL26" ;
NET "ADC_CLK_N<10>" LOC = "AK24" ;
NET "ADC_CLK_N<9>" LOC = "AL10" ;
NET "ADC_CLK_N<8>" LOC = "AG2" ;
NET "ADC_CLK_N<7>" LOC = "L3" ;
NET "ADC_CLK_N<6>" LOC = "H3" ;
NET "ADC_CLK_N<5>" LOC = "AD2" ;
NET "ADC_CLK_N<4>" LOC = "AP6" ;
NET "ADC_CLK_N<3>" LOC = "AH17" ;
NET "ADC_CLK_N<2>" LOC = "AL24" ;
NET "ADC_CLK_N<1>" LOC = "AJ34" ;
NET "ADC_CLK_N<0>" LOC = "H33" ;


########### Timing specs ###############

# ADC Frame clock = 40 MHz
NET "ADC_CLK_P<0>" TNM_NET = ADC_CLK<0>;
TIMESPEC TS_ADC_CLK_0 = PERIOD "ADC_CLK<0>" 25 ns HIGH 50%;
NET "ADC_CLK_P<1>" TNM_NET = ADC_CLK<1>;
TIMESPEC TS_ADC_CLK_1 = PERIOD "ADC_CLK<1>" 25 ns HIGH 50%;
NET "ADC_CLK_P<2>" TNM_NET = ADC_CLK<2>;
TIMESPEC TS_ADC_CLK_2 = PERIOD "ADC_CLK<2>" 25 ns HIGH 50%;
NET "ADC_CLK_P<3>" TNM_NET = ADC_CLK<3>;
TIMESPEC TS_ADC_CLK_3 = PERIOD "ADC_CLK<3>" 25 ns HIGH 50%;
NET "ADC_CLK_P<4>" TNM_NET = ADC_CLK<4>;
TIMESPEC TS_ADC_CLK_4 = PERIOD "ADC_CLK<4>" 25 ns HIGH 50%;
NET "ADC_CLK_P<5>" TNM_NET = ADC_CLK<5>;
TIMESPEC TS_ADC_CLK_5 = PERIOD "ADC_CLK<5>" 25 ns HIGH 50%;
NET "ADC_CLK_P<6>" TNM_NET = ADC_CLK<6>;
TIMESPEC TS_ADC_CLK_6 = PERIOD "ADC_CLK<6>" 25 ns HIGH 50%;
NET "ADC_CLK_P<7>" TNM_NET = ADC_CLK<7>;
TIMESPEC TS_ADC_CLK_7 = PERIOD "ADC_CLK<7>" 25 ns HIGH 50%;
NET "ADC_CLK_P<8>" TNM_NET = ADC_CLK<8>;
TIMESPEC TS_ADC_CLK_8 = PERIOD "ADC_CLK<8>" 25 ns HIGH 50%;
NET "ADC_CLK_P<9>" TNM_NET = ADC_CLK<9>;
TIMESPEC TS_ADC_CLK_9 = PERIOD "ADC_CLK<9>" 25 ns HIGH 50%;
NET "ADC_CLK_P<10>" TNM_NET = ADC_CLK<10>;
TIMESPEC TS_ADC_CLK_10 = PERIOD "ADC_CLK<10>" 25 ns HIGH 50%;
NET "ADC_CLK_P<11>" TNM_NET = ADC_CLK<11>;
TIMESPEC TS_ADC_CLK_11 = PERIOD "ADC_CLK<11>" 25 ns HIGH 50%;
NET "ADC_CLK_P<12>" TNM_NET = ADC_CLK<12>;
TIMESPEC TS_ADC_CLK_12 = PERIOD "ADC_CLK<12>" 25 ns HIGH 50%;
NET "ADC_CLK_P<13>" TNM_NET = ADC_CLK<13>;
TIMESPEC TS_ADC_CLK_13 = PERIOD "ADC_CLK<13>" 25 ns HIGH 50%;

# ADC LVDS clock = Frame clock (40 MHz) * 6 ( = 240 MHz), phase shifted -90 degrees
NET "ADC_LCLK_P<0>" TNM_NET = ADC_LCLK<0>;
TIMESPEC TS_ADC_LCLK_0 = PERIOD "ADC_LCLK<0>" TS_ADC_CLK_0 / 6 PHASE -1.04167 ns HIGH 50%;
NET "ADC_LCLK_P<1>" TNM_NET = ADC_LCLK<1>;
TIMESPEC TS_ADC_LCLK_1 = PERIOD "ADC_LCLK<1>" TS_ADC_CLK_1 / 6 PHASE -1.04167 ns HIGH 50%;
NET "ADC_LCLK_P<2>" TNM_NET = ADC_LCLK<2>;
TIMESPEC TS_ADC_LCLK_2 = PERIOD "ADC_LCLK<2>" TS_ADC_CLK_2 / 6 PHASE -1.04167 ns HIGH 50%;
NET "ADC_LCLK_P<3>" TNM_NET = ADC_LCLK<3>;
TIMESPEC TS_ADC_LCLK_3 = PERIOD "ADC_LCLK<3>" TS_ADC_CLK_3 / 6 PHASE -1.04167 ns HIGH 50%;
NET "ADC_LCLK_P<4>" TNM_NET = ADC_LCLK<4>;
TIMESPEC TS_ADC_LCLK_4 = PERIOD "ADC_LCLK<4>" TS_ADC_CLK_4 / 6 PHASE -1.04167 ns HIGH 50%;
NET "ADC_LCLK_P<5>" TNM_NET = ADC_LCLK<5>;
TIMESPEC TS_ADC_LCLK_5 = PERIOD "ADC_LCLK<5>" TS_ADC_CLK_5 / 6 PHASE -1.04167 ns HIGH 50%;
NET "ADC_LCLK_P<6>" TNM_NET = ADC_LCLK<6>;
TIMESPEC TS_ADC_LCLK_6 = PERIOD "ADC_LCLK<6>" TS_ADC_CLK_6 / 6 PHASE -1.04167 ns HIGH 50%;
NET "ADC_LCLK_P<7>" TNM_NET = ADC_LCLK<7>;
TIMESPEC TS_ADC_LCLK_7 = PERIOD "ADC_LCLK<7>" TS_ADC_CLK_7 / 6 PHASE -1.04167 ns HIGH 50%;
NET "ADC_LCLK_P<8>" TNM_NET = ADC_LCLK<8>;
TIMESPEC TS_ADC_LCLK_8 = PERIOD "ADC_LCLK<8>" TS_ADC_CLK_8 / 6 PHASE -1.04167 ns HIGH 50%;
NET "ADC_LCLK_P<9>" TNM_NET = ADC_LCLK<9>;
TIMESPEC TS_ADC_LCLK_9 = PERIOD "ADC_LCLK<9>" TS_ADC_CLK_9 / 6 PHASE -1.04167 ns HIGH 50%;
NET "ADC_LCLK_P<10>" TNM_NET = ADC_LCLK<10>;
TIMESPEC TS_ADC_LCLK_10 = PERIOD "ADC_LCLK<10>" TS_ADC_CLK_10 / 6 PHASE -1.04167 ns HIGH 50%;
NET "ADC_LCLK_P<11>" TNM_NET = ADC_LCLK<11>;
TIMESPEC TS_ADC_LCLK_11 = PERIOD "ADC_LCLK<11>" TS_ADC_CLK_11 / 6 PHASE -1.04167 ns HIGH 50%;
NET "ADC_LCLK_P<12>" TNM_NET = ADC_LCLK<12>;
TIMESPEC TS_ADC_LCLK_12 = PERIOD "ADC_LCLK<12>" TS_ADC_CLK_12 / 6 PHASE -1.04167 ns HIGH 50%;
NET "ADC_LCLK_P<13>" TNM_NET = ADC_LCLK<13>;
TIMESPEC TS_ADC_LCLK_13 = PERIOD "ADC_LCLK<13>" TS_ADC_CLK_13 / 6 PHASE -1.04167 ns HIGH 50%;
